#services {
	@extend .spacer, .overflow-hidden, .mx-auto;
	padding: 3em 0.5em;
	background-color: $light;
}

.services-row {
	@extend .row, .row-cols-1, .row-cols-lg-2, .g-4, .g-md-5;

	.card {
		@extend .card-body, .border-0, .rounded-3, .shadow;
		padding: 2em;

		@media (max-width: $mobile) {
			padding: 1em;
		}
	}
    .icons {
        @extend .d-flex, .justify-content-center, .align-items-center, .mb-4, .rounded;
        width: 80px;
        height: 80px;
        font-size: 2em;
        color: $white;
        background-color: $primary;
    }
    
}

