#contact {
    @extend .spacer, .mx-auto;

    #contact-form {
        @extend .mx-auto, .flex-column, .justify-content-around ;
        max-width: 600px;
        padding: 0 12px 0 12px;

        .input-group {
            flex-direction: column;
            margin-bottom: 20px;
            label {
                font-weight: 700;
                margin-bottom: 10px;
            }
            input {
                border: 2px solid $primary;
                padding: 10px 0 10px 10px;
                font-size: 16px;
                border-radius: 5px;
            }
            textarea {
                border: 2px solid $primary;
                padding: 10px 0 10px 10px;
                border-radius: 5px;
            }
            .error {
                margin-top: 8px;
                color: red;
            }
        }
        #submit {
            font-size: 20px;
            width: 100px;
            border: 2px solid $primary;
            background: transparent;
            border-radius: 5px;
            color: $primary;
        }
        .successDiv {
            padding: 10px;
            background: rgb(37, 185, 37);
            border-radius: 5px;
            color: white;
            margin-bottom: 10px;
            text-align: center;
            p {
                margin-bottom: 0 !important;
            }
        }
        .successDiv.display-none {
            display: none;
        }
    }
}