header {
	background: url("../../assets/images/hero.jpeg") no-repeat center top;
	background-size: cover;
	height: 90vh;
	position: relative;
}

.hero {
	@extend .shadow-lg, .rounded-3;

	max-width: 500px;
	background: $secondary;
	padding: 2em;
	z-index: 100;
	position: absolute;
	top: 20%;
	left: 10%;

	h1 {
		margin-bottom: 1em;
		color: $light;
	}
	p {
		font-family: $heading-fonts;
	}
}
